*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App{
    display:grid;
    grid-template-columns:3fr 7fr;
    grid-template-rows:25px 528px 204px;
    height:auto;
    grid-template-areas: 
        'title title'
        'des editor'
        'des result';
}