#menu{
    background-color: #263747;
    color: white;
    padding-bottom: 4px;
}

.editor{
    grid-area:editor;
}

.CodeMirror {
    height: 500px;
    font-size: 14px;
    line-height: 150%;
}

button, select, #mini{
    background-color: #263747;
    color: whitesmoke;
    margin-right: 5px;
}

#end{
    margin-left: 10px;
}

#sw{
    margin-right: 630px;
    top: 0px;
}

.Switch{
    top: 5px;
}