#menu{
    background-color: #263747;
    color: white;
    padding: 5px;
}

.editor{
    grid-area:editor;
}

.CodeMirror {
    height: 400px;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
}

#menu{
    border: 5px 0px;
}

#menu button, select{
    background-color: #263747;
    color: whitesmoke;
    float: right;
    margin: 0px 2.5px;
}

.Switch{
    top: 3px;
    padding: 0px 5px;
}

